{% extends "home/base.html" %}
{% load static %}
{% block title %}Appointment | Hope & Happiness{% endblock title %}
{% block content %}
        <main>

            <!-- page title area start -->
            <section class="page__title p-relative pt-200 pb-200" data-background="{% static 'home/img/page-title/page-title-7.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="page__title-inner text-center">
                                <div class="page__title-breadcrumb">                                 
                                        <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">appointment</li>
                                        </ol>
                                        </nav>
                                </div>
                                <h1>appointment</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- page title area end -->
                
            <!-- appointment area start  -->
            <section class="appointment__area pb-85 pt-120">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 pr-0">
                            <div class="appointment__opening sidebar-wrapper grey-bg-3 mb-30">
                                <div class="sidebar-title">
                                    <h3>Case Information</h3>
                                </div>
                                <div class="sidebar-list-2 sidebar-list-3">
                                    <ul>
                                        <li>
                                            <h6>Monday:</h6>
                                            <span>8.00 - 5.30</span>
                                        </li>
                                        <li>
                                            <h6>Tuesday:</h6>
                                            <span>8.00 - 5.30</span>
                                        </li>
                                        <li>
                                            <h6>Wednesday:</h6>
                                            <span>8.00 - 6.30</span>
                                        </li>
                                        <li>
                                            <h6>Thursday:</h6>
                                            <span>8.00 - 7.30</span>
                                        </li>
                                        <li>
                                            <h6>Friday:</h6>
                                            <span>8.00 - 4.30</span>
                                        </li>
                                        <li>
                                            <h6>Saturday:</h6>
                                            <span>8.00 - 5.30</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 offset-xl-1 col-lg-5 offset-lg-1">
                            <div class="appointment__info pt-15">
                                <div class="section__title mb-20">
                                    <div class="section__icon mb-10">
                                        <span class="section__sub-title section__sub-title-2 section__sub-title-3">Contact info</span>
                                    </div>
                                    <h1 >Have Any Questins Or Book Directly</h1>
                                </div>
                                <p>Pulvinar senectus morbi quisque nunc to towa faucibus netus etiam mone lestie nisi dis malesuada maecenas ora pretium ornare pharetra vestibulum mattis </p>

                                <ul>
                                    <li><span><i class="fas fa-phone"></i> +2 365 352 2541</span></li>
                                    <li><span><i class="fas fa-map-marker-alt"></i> 1306 Medow view, New York, USA</span></li>
                                    <li><a href="../../../cdn-cgi/l/email-protection.html#056764766c66716d606860456268646c692b666a68"><i class="fas fa-envelope-open"></i> <span class="__cf_email__" data-cfemail="e28083918b81968a878f87a2858f838b8ecc818d8f">[email&#160;protected]</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- appointment area end  -->

            <!-- contact area start -->
            <section class="contact-area contact__area-3 pt-120" data-background="{% static 'home/img/contact/contact-bg.jpg' %}">
                <div class="container-fluid p-0">
                    <div class="row no-gutters">
                        <div class="col-xl-6 offset-xl-6">
                            <div class="contact__wrapper contact__wrapper-3 green-bg-2 pr-105 pl-100 pt-95 pb-100">
                                <div class="section__title mb-45">
                                    <div class="section__icon mb-10">
                                        <span class="section__sub-title section__sub-title-2 section__sub-title-3">any problem</span>
                                    </div>
                                    <h1 class="white-color">Don’t Hesitate, Conatct us</h1>
                                </div>
                                <div class="contact__form">
                                    <form id="contact-form" action="" method="POST">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <input name="name" class="contact__input contact__input-3" type="text" placeholder="Your Name">
                                            </div>
                                            <div class="col-xl-6">
                                                <input name="email" class="contact__input contact__input-3" type="email" placeholder="E-mail Address">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <input name="subject" class="contact__input contact__input-3" type="text" placeholder="Phone Number">
                                            </div>
                                            <div class="col-xl-6">
                                                <select class="contact__input contact__input-3">
                                                    <option value="">Choose Problem</option>
                                                    <option value="">Option 1</option>
                                                    <option value="">Option 2</option>
                                                    <option value="">Option 3</option>
                                                    <option value="">Option 4</option>
                                                    <option value="">Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <textarea name="message" class="contact__input contact__input-3 txt-area " cols="30" rows="10" placeholder="Write Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <button class="s-btn s-btn__square s-btn__square-white" type="submit">submit message</button>
                                            </div>
                                        </div>
                                    </form>
                                    <p class="ajax-response"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact area end -->

            <!-- testimonial area start -->
            <section class="testimonial__area pt-105 pb-120 p-relative box-105">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                            <div class="section__title mb-70 text-center pl-50 pr-50">
                                <h1>Happy Patient says Something About our Service</h1>
                                <div class="section__icon mb-10">
                                    <span class="section__sub-title section__sub-title-2 section__sub-title-3 section__sub-title-4"> Expert member</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="testimonial__slider owl-carousel">
                                <div class="testimonial__item p-relative white-bg">
                                    <div class="testimonial__quote p-absolute">
                                        <img src="{% static 'home/img/testimonial/quote.png' %}" alt="">
                                    </div>
                                    <div class="testimonial__content">
                                        <div class="rating mb-15">
                                            <ul>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <p>He of ledser had bn sad earth him pure cree peeth fish lame days all into thing in subdue day they are subdiue haise being gine ning our multiply one behold meats above heaven are domins bione moved orales one fourth to appear in won tree doesn in two together also be door please be open</p>
                                    </div>
                                    <div class="testimonial__person d-flex align-items-center">
                                        <div class="testimonial__avater">
                                            <img src="{% static 'home/img/testimonial/person-1.png' %}" alt="">
                                        </div>
                                        <div class="testimonial__info">
                                            <h3>Zimmy Carter</h3>
                                            <span>Creative Director</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial__item p-relative white-bg">
                                    <div class="testimonial__quote p-absolute">
                                        <img src="{% static 'home/img/testimonial/quote.png' %}" alt="">
                                    </div>
                                    <div class="testimonial__content">
                                        <div class="rating mb-15">
                                            <ul>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <p>He of ledser had bn sad earth him pure cree peeth fish lame days all into thing in subdue day they are subdiue haise being gine ning our multiply one behold meats above heaven are domins bione moved orales one fourth to appear in won tree doesn in two together also be door please be open</p>
                                    </div>
                                    <div class="testimonial__person d-flex align-items-center">
                                        <div class="testimonial__avater">
                                            <img src="{% static 'home/img/testimonial/person-2.png' %}" alt="">
                                        </div>
                                        <div class="testimonial__info">
                                            <h3>Peter Martyn</h3>
                                            <span>Project Manager</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial__item p-relative white-bg">
                                    <div class="testimonial__quote p-absolute">
                                        <img src="{% static 'home/img/testimonial/quote.png' %}" alt="">
                                    </div>
                                    <div class="testimonial__content">
                                        <div class="rating mb-15">
                                            <ul>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <p>He of ledser had bn sad earth him pure cree peeth fish lame days all into thing in subdue day they are subdiue haise being gine ning our multiply one behold meats above heaven are domins bione moved orales one fourth to appear in won tree doesn in two together also be door please be open</p>
                                    </div>
                                    <div class="testimonial__person d-flex align-items-center">
                                        <div class="testimonial__avater">
                                            <img src="{% static 'home/img/testimonial/person-3.png' %}" alt="">
                                        </div>
                                        <div class="testimonial__info">
                                            <h3>Reoser Fencon</h3>
                                            <span>Sr. Consultant</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial__item p-relative white-bg">
                                    <div class="testimonial__quote p-absolute">
                                        <img src="{% static 'home/img/testimonial/quote.png' %}" alt="">
                                    </div>
                                    <div class="testimonial__content">
                                        <div class="rating mb-15">
                                            <ul>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="appointment.html#"><i class="fas fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <p>He of ledser had bn sad earth him pure cree peeth fish lame days all into thing in subdue day they are subdiue haise being gine ning our multiply one behold meats above heaven are domins bione moved orales one fourth to appear in won tree doesn in two together also be door please be open</p>
                                    </div>
                                    <div class="testimonial__person d-flex align-items-center">
                                        <div class="testimonial__avater">
                                            <img src="{% static 'home/img/testimonial/person-1.png' %}" alt="">
                                        </div>
                                        <div class="testimonial__info">
                                            <h3>Zimmy Carter</h3>
                                            <span>Creative Director</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- testimonial area end -->
        </main>

        {% endblock content %}